.info_content h1{
    transform: translateY(-40px);
    animation-delay: .4s;
    animation: coming 1s forwards;
    transition: .2s;
    transition-delay: -0.4s;
    animation-delay: .5s;
    visibility: hidden;
}

.main-info{
    width: 100%;
}

.info-img {
    display:flex;
    justify-content: center;
    align-items: center;
}

.info-img img{
    width: 80%;
    padding: 20px;
    transform: translateX(100px);
    transition: .4s;
    animation: slide 1s forwards;
    animation-delay: .5s;
    visibility: hidden;
}

@keyframes slide {
    from{
        opacity: 0;
    }
    to{
        display: block;
        transform: translateX(0);
        visibility: visible;
    }
}

.info_content p{
    transform: translateY(30px);
    animation: coming 1s forwards;
    transition: .2s;
    animation-delay: .5s;
    visibility: hidden;
}

@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        visibility: visible;
        display: block;
        transform: translateY(0);
    }
}

@keyframes backimg {
    from{
        background-image: none;
    }
    to{
        
    }
    
}

.discover-btn a{
    transition: 0.4s;
    animation: anim 1s forwards;
    animation-delay: 1.2s;
    visibility: hidden;
}

@keyframes anim{
    from{
        opacity: 0;
    }
    to{
        visibility: visible;
    }
}