.pre-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pre-card .box{
    width: 300px;
    margin: 20px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.15);
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    background: rgb(255,248,249);
background: radial-gradient(circle, rgba(255,248,249,1) 0%, rgba(30,177,215,1) 100%);
}

.pre-card .box .content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.pre-card .box .content img{
    padding: 10px;
}